.gameBoard{
	border:0px solid black; 
	display:inline-block;
	width:480px; 
	height:480px; 
	background:green;
}

.boardTile{
	width:60px;
	height:60px;
	border-radius:100%;
}
.boardTile.whiteTile{
	background-color:white;
}
.boardTile.blackTile{
	background-color:black;
}
.boardTile.greenTile{
	opacity:1;
}

.gameMoves{
	word-break: break-all;
	font-family: "courier";
	width:130px;
	display:block;
	margin:auto;
}

.gameHolder{
	border-bottom:5px solid black;
}